body {
  background-color: #141414;
  color: white;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
}

h1 {
  margin-top: 2px;
}

h1, h2, h3 {
  color: #e50914;
}

p {
  font-size: 16px;
}

#green-check {
  font-size: 24px;
  color: #00C851;
}
