body {
  background-color: #141414;
  color: white;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
}

h1 {
  margin-top: 2px;
}

h1, h2, h3 {
  color: #e50914;
}

h1 {
  margin-bottom: 12px
}

p {
  font-size: 16px;
  margin-top: 8px;
}

#green-check {
  color: #00C851;
  font-size: 24px;
}

#viewing-scheduled-text {
  color: #00C851;
  font-weight: bold;
}
